* {
    box-sizing:border-box;
  
}
html,body {
    background-color: #1a3e59;
    font-family:'Lora', sans-serif;
    padding:0px;
    margin:0px;
}
nav{
    
    background-color:rgb(54, 21, 30);
    color: white;
    height:50px;
    width:100%;
    position:relative;
    left:0;
    top:0;
   

}

.technologies-container {
    margin-top: 10%;
    font-size: 45px;
    width: 75%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    padding: 0px;
    flex-wrap:wrap;

}
li {
    padding:10px;
    
    display:inline-block;
}
span.name, span.title {
    color: #36aaff;
}
.about{
   color: #29d8d4;
}
a {
    border:1px solid  white;
    width:150px;
    background:transparent;
    padding:10px;
    color:  white;
    font-size: 22px;
    cursor:pointer;

}
.nav-list-item{
    border:none;
    font-size:28px;
    color:white;
}
a:hover{
    background-color: skyblue;
    color: #0c2333;
    border:1px solid #0c2333;
}
h1 {
    font-size:45px;
    font-weight:normal;

}
.name-holder {
    border: .5px solid white;
    padding:40px;
    margin: 0 auto;
    width:580px;
    margin-top:0;
    position:relative;
    top: 10%;

}

.button-holder{
    width:580px;
    margin: 0 auto;
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    text-align:center;
    font-family:'Arial';
    position: relative;
    top: 10%;
}

.name-title {
    width: 100%;
    color: white;

   
    height:100vh;
    position:relative;
    text-align: left;
    font-family: 'Lora', serif;
}
article {
font-size: 25px;
width: 75%;
margin: 0 auto;
position: relative;
top: 12%;
line-height: 1.6;
}
.bio {
    text-align: left;
    width: 100%;
    background-color:rgb(54, 21, 30);
    
   
    color:white;
    font-family: 'Work Sans', sans-serif;
    position:relative;
    height:100vh;
}

h2 {
    color: white;
}
.project-title {
 height:fit-content;
 width:100%;
 text-align:center;
 
}
figcaption {
    font-family: "Work Sans", sans-serif;
    font-size:16px;

   text-align: center;

}
figure {
    text-align:center;
}
.projects-title {
    text-align:center;
    width:100%;
    font-family:'Lora';
    color: white;
    margin-bottom:0px;
   
    
}
img {
    width:100%;
    
    height:100%;
}
a {
    text-decoration: none;
    color: skyblue;
}
ul {
    list-style-type:none;
}

.nav-list{
    margin-left:60%;
}


    .projects-container {
       
        font-family:'Work Sans', sans-serif;
        color:  #0c2333;
        padding:35px;
        text-align: center;
        width: 100%;
        height:100vh;
        position:relative;
      
    }
    .project-title {
        color:  #0c2333; 
    }
 
    .project-row {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width:80%;
        margin: 0 auto;
        top:100px;
        position:relative;
        padding: 35px;
        top:100px;
        background-color: skyblue;
        
    
        
      
    }
    .project-image{
        border:1px solid black;
        flex-shrink:2;
    }
   
    section {
        height:100vh;
        position:relative;
        left:0;
        top:0;
    }
    .project {
        width:400px;
        height:300px;
        background-color: skyblue;
    }
    .name-title {
        text-align:left;
    }
    .contact{
        position:relative;
        background-color:rgb(54, 21, 30);
        text-align:center;
        color:white;
    }
    .contact-link {
        display:block;
        width:400px;
    }
    .contact-title {
        position:relative;
        top:200px;
    }
  
    
    .contact-methods {
        width: 400px;
        margin:0 auto;
        text-align:center;
        position: relative;
        top:200px;
    }
    
    @media screen and (max-width: 900px) {
        .nav-list {
            display:none;
        }
        section {
            position:static;
            height:;
            width:100%;
        }
        .technologies-container{
            justify-content: center;
        }

    }
}