* {
    box-sizing:border-box;

}

body{
    background-color: gray
}
/*font-family: 'Muli', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Lato', sans-serif;*/

.nav{
    height:23px;
    

    height:20px;
}
.name-title {
    width: 100%;
    color: #ecf4f3;
    font-weight: normal;
    
    height: 300px;
}
.name-title {
    text-align:left;
   
font-size:30px;
text-align: left;
font-family: 'PT Serif', serif;
}
h1 {
    font-weight: normal;
    margin:15px;
}
.bio {
    text-align: center;
    width:100%;
    background-color: gray;
    
    height:200px;
}
h2 {

}
.projects-container {
    
    text-align: center;
    width: 100%;
    background-color:darkslategray

}


a {
    text-decoration: none;
    color:white;
}
ul {
    list-style-type:none;
}
@media(min-width: 500px){
    .title-photo{
        display:none;
    }
    .bio {
        clear:right;
        width:50%;
        margin: 0 auto;
    }
    .projects-container {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    }
   
 
}